* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body{
    background-color: blue;
}

section{
    background-color: rgba(0, 0, 0, 0.9);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2%;
    border-radius: 15px;
    color: white;
}

form{
    width: 400px;
    margin: 80px auto;
    text-align: center;
}

input{
    font-size: 15px;
}
    
h1, p {
    margin: 1em auto;
    text-align: center;
  }


div{
    margin-top: 15px;
    margin-bottom: 15px;
}